/* img{
    display: none;
} */

.AB_Renderer *{
    user-select: auto;
    /* pointer-events: unset !important; */
}

.AB_Renderer{
    height: 100%;
    width: calc(100% - 73px);
    padding: 10px;
    margin-left: 53px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: all !important;
    pointer-events: all !important;
    
}

.AB_Renderer_Banner{
    height: 300px;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.AB_Renderer_Banner_Image{
    position: absolute;
    object-fit: cover;
    width: 100%;
    display: block;
}

.AB_Renderer_Header{
    width: 100%;
    max-width: 800px;
    background-color: var(--BG-Color-MainView);
    padding: 20px;
    padding-top: 0px;
}

.AB_Renderer_Contents{
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: var(--BG-Color-MainView);
}

.AB_Renderer_Header_Title{
    font-family: var(--Text-Font-Primary);
    color: var(--Text-Color);
    font-size: 50px;
    /* height: 65px; */
    font-weight: bolder;
}

.AB_Renderer_Header_Details{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 15px;
}

.AB_Renderer_Header_Details_Title, .AB_Renderer_Header_Details_Data{
    font-family: var(--Text-Font-Secondary);
    color: var(--Text-Color);
    margin: 0;
}

.AB_Renderer_Header_Details_Title{
    font-weight: bolder;
}

.AB_Renderer_Title_Primary{
    font-family: var(--Text-Font-Primary);
    color: var(--Text-Color);
    font-size: 40px;
    font-weight: bold;
}

.AB_Renderer_Title_Secondary{
    font-family: var(--Text-Font-Primary);
    color: var(--Text-Color);
    text-decoration: underline;
    font-size: 30px;
}

.AB_Renderer_Title_Tertiary{
    font-family: var(--Text-Font-Primary);
    color: var(--Text-Color);
    font-style: italic;
    font-size: 22px;
}

.AB_Renderer_Paragraph{
    font-family: var(--Text-Font-Secondary);
    color: var(--Text-Color);
    text-align: justify;
}

.AB_Renderer_List{
    font-family: var(--Text-Font-Secondary);
    color: var(--Text-Color);
}

.AB_Renderer_Quote{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    grid-template-areas: 
        "Apostrophe_1 Input Apostrophe_2"
        "Source Source Source"
    ;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
}

.AB_Renderer_Quote_Apostrophe{
    font-family: var(--Text-Font-Primary);
    color: var(--Text-Color);
    opacity: 75%;
    font-size: 50px;
    margin: 0;
}

.Apostrophe_1{
    grid-area: Apostrophe_1;
}

.AB_Renderer_Quote_Content{
    grid-area: Input;
    font-size: 25px;
    font-style: italic;
    font-family: var(--Text-Font-Secondary);
    color: var(--Text-Color);
}

.Apostrophe_2{
    grid-area: Apostrophe_2;
    align-self: flex-end;
}

.AB_Renderer_Quote_Source{
    grid-area: Source;
    /* padding-left: 30px; */
    font-family: var(--Text-Font-Secondary);
    color: var(--Text-Color);
    font-style: italic;
}

.AB_Renderer_Image{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 5px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.AB_Renderer_Image_Container{
    width: -webkit-fill-available;
}

.AB_Renderer_Image_Image{
    object-fit: contain;
    width: -webkit-fill-available;
}

.AB_Renderer_Image_Description, .AB_Renderer_Image_Credits{
    font-family: var(--Text-Font-Secondary);
    color: var(--Text-Color);
    margin: 0;
}

.AB_Renderer_Image_Credits{
    font-style: italic;
    opacity: 50%;
}

.AB_Renderer_Video{
    
}

.AB_Renderer_Video_Video{
    width: 100%;
    aspect-ratio: 16/9;
    border: transparent;
    outline: transparent;
}

.Ribbon_Toggle{
    display: none;
}

@media only screen and (max-width: 700px){
    .AB_Renderer {
        width: calc(100% - 20px);
        margin-left: unset;
    }
}