.BOS_Explorer{
    display: grid;
    grid-template-areas: 
        "Breadcrumbs Breadcrumbs"
        "Header Header"
        "List Preview"
    ;
    grid-template-rows: 50px 80px 1fr;
    grid-template-columns: 450px 1fr;
    background-color: var(--BG-Color-Opacitated);
    width: calc(100% - 50px);
    margin-left: 50px;
    height: 100%;
    position: fixed;
}

.BOS_Explorer_Breadcrumbs{
    background-color: var(--BG-Color-Overlay-Ribbon);
    grid-area: Breadcrumbs;
    border-bottom: solid var(--Color-Borders) 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.BOS_Explorer_Breadcrumbs_Item{
    font-family: var(--Text-Font-Secondary);
    color: var(--Text-Color);
    margin: 0;
    margin-right: 5px;
}

.BOS_Explorer_Breadcrumbs_Item:hover{
    cursor: pointer;
    text-decoration: underline;
}

.BOS_Explorer_Header{
    background-color: var(--BG-Color-Overlay-Header);
    grid-area: Header;
    border-bottom: solid var(--Color-Borders) 3px;
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
    padding: 10px;
}

.BOS_Explorer_Header_Title{
    font-family: var(--Text-Font-Primary);
    color: var(--Text-Color);
    margin: 0;
}

.BOS_Explorer_Header > .BOS_Explorer_Header_Toolbar > .General_Button{
    border: unset;
    padding: 0;
}

.BOS_Explorer_Header > .BOS_Explorer_Header_Toolbar > .General_Button:hover{
    text-decoration: underline;
}

.BOS_Explorer_List{
    grid-area: List;
    border-right: solid var(--Color-Borders) 3px;
    padding: 10px;
    overflow-y: auto;
}

.BOS_Explorer_List_Item{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: flex-start;
}

.BOS_Explorer_List_Item_Title{
    font-family: var(--Text-Font-Primary);
    color: var(--Text-Color);
    margin: 0;
    text-align: left;
}

.BOS_Explorer_List_Item_Subtitle{
    font-family: var(--Text-Font-Secondary);
    color: var(--Text-Color);
    opacity: 50%;
    margin: 0;
}

.BOS_Explorer_Preview{
    grid-area: Preview;
    display: flex;
    height: -webkit-fill-available;
    justify-content: center;
    align-items: center;
    position: relative;
}

.BOS_Explorer_Preview_Frame{
    width: -webkit-fill-available;
    height: 100%;
    zoom: 1;
    border: none;
}

.BOS_Explorer_Preview_Image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    pointer-events: none;
}

@media only screen and (max-width: 700px){
    .BOS_Explorer{
        margin-left: 0px;
        grid-template-areas: 
            "Breadcrumbs"
            "Header"
            "Preview"
            "List"
        ;
        grid-template-rows: 50px 75px 1fr 1fr;
        grid-template-columns: 1fr;
        width: 100%;
        height: calc(100% - 60px);
    }
    .BOS_Explorer_Header_Title, .BOS_Explorer_List_Item_Title{
        font-size: 20px;
    }
}